*{
    padding: 0;
    margin: 0;
}

.header{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.255);
    display: flex;
    justify-content: space-between;

}



/* men start--------------------------------------------------------- */

.men_display{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    display: none;
    margin-left: 0px;
    margin-top: 20px;
}

.Men{
    padding: 40px 3px 40px 3px;
    /* border: 1px solid black; */
}
  
.men_display .design:nth-child(odd){
    line-height: 23px;
    /* margin-top: 10px; */
    background-color: white;
    padding: 20px 40px 20px 40px;
}

.men_display .design:nth-child(even){
    background-color: rgb(231, 223, 223);
    line-height: 23px;
    /* margin-top: 10px; */
    padding: 20px 40px 20px 40px;
}

.design h2{
    color: rgb(248, 102, 102);
    font-size: 10px;
}

.design p{
    color: rgb(88, 86, 86);
}

.design p:hover{
    color: black;
}

.design .men_line{
    width: 150px;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(65, 64, 64, 0.152);
}



.men_display:hover{
    display: block;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    z-index: 35;
   
    
}
.Men:hover + .men_display{
    display: block;
    display: flex;
    flex-wrap: wrap;
    animation: profile 0.5s linear;
    cursor: pointer;
    z-index: 35;

}

.Men:hover{
    cursor: pointer;
}
/* ----------------------men ended--------------------------------------- */

/* women started--------------------------------------------------------- */

.women{
    /* border: 1px solid black; */
    padding: 40px 3px 40px 3px;
    cursor: pointer;
}

.women .design h2{
    color: rgb(238, 20, 92);
}
.women_display{
    position: absolute;
    line-height: 25px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-top: 20px;
    display: none;
    z-index: 100;
    
}

.women_display:hover{
    display: block;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    z-index: 100;
}

.women:hover + .women_display{
    display: block;
    display: flex;
    flex-wrap: wrap;
    animation: profile 0.5s linear;
    cursor: pointer;
    z-index: 100;
}



.women_display .design:nth-child(odd){
    background-color: white;
    padding: 20px 40px 20px 40px;
}

.women_display .design:nth-child(even){
    background-color: rgb(241, 237, 237);
    padding: 20px 40px 20px 40px;
}

/* --------------women ended---------------------- */

/* ---------------kids start----------------- */
.kids{
    /* border: 1px solid black; */
    padding: 40px 3px 40px 3px;
    cursor: pointer;
}
.kids_display{
    position: absolute;
    line-height: 25px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-top: 20px;
    display: none;
    z-index: 35;
    
}

.kids_display:hover{
    display: block;
    display: flex;
    cursor: pointer;
    z-index: 35;
}

.kids:hover + .kids_display{
    display: block;
    display: flex;
    animation: profile 0.5s linear;
    cursor: pointer;
    z-index: 35;
}



.kids_display .design:nth-child(odd){
    background-color: white;
    padding: 20px 40px 20px 40px;
}

.kids_display .design:nth-child(even){
    background-color: rgb(241, 237, 237);
    padding: 20px 40px 20px 40px;
}


.left{
    display: flex;
    justify-content: baseline;
    margin-left: 25px;
    
}

.left img{
    width: 50px;
    margin-right: 0px;
}

.categories{
    margin-top: 15px;
}

span{
    font-size: 13px;
    margin-left: 35px;
    color: grey;
}
.right {
    display: flex;
    /* border: 1px solid black; */
    width: 40%;
}

.right input{
    width: 100%;
    height: 28px;
    letter-spacing: 2px;
    padding-left: 45px;
    margin-top: 10px;
    border: none;
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.357);
    background-color: rgba(170, 169, 169, 0);
}

.right input:focus{
    outline: none;
}

.right i{
    position: absolute;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 14px;
    color: grey;
}

.right img{
    width: 30px;
    /* margin-right: 50px; */
    margin-left: 15px;
    position: relative;
    cursor: pointer;
    
}

.right img:nth-child(6){
    margin-right: 20px;
}


.profile{
    position: absolute;
    right: 0;
    padding: 30px;
    line-height: 25px;
    top: 51px;
    border: 1px solid rgba(128, 128, 128, 0.282);
    color: grey;
    letter-spacing: 1px;
    display: none;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(255,255,255,08),
                3px 3px 10px rgba(0,0,0,0.2);
}

.profile:hover{
    display: block;
    background-color: white;
}

.right .image:hover + .profile{
    display: block;
    background-color: white;
    animation: profile 0.5s linear;
    color: black;
    z-index: 25;
}

@keyframes profile{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.right .profile button{
    width: 120px;
    height: 25px;
    background: none;
    border: none;
    border: 1px solid rgba(128, 128, 128, 0.474);
    color: rgba(255, 0, 0, 0.645);
    border-radius: 5px;

}


.profile button:hover{
    border: 1px solid red;
    cursor: pointer;
}

.profile p:hover{
    color: black;
}

.line{
    width: 240px;
    height: 0.5px;
    background-color: rgba(128, 128, 128, 0.446) ;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* -----------------second start------------- */

.lottie{
    
    position: absolute;
    right: 0px;
    top: -10px;
    display: none;
    transition: all 0.5s ease;
    /* border: 1px solid grey; */
    clip-path: polygon(0 32%, 100% 31%, 100% 100%, 0% 100%);
    cursor: pointer;

}
.lottie:hover{
    display: block;
}

.second:hover + .lottie{
    display: block;
    cursor: pointer;
    animation: profile 0.5s linear;
    /* border: 1px solid grey; */
}

.second{
    padding: 10px;
    cursor: pointer;
    
}

/* ------------------------ */

.lottie1{
    position: absolute;
    right: 0px;
    top: -30px;
    display: none;
    transition: all 0.5s ease;
    /* border: 1px solid grey; */
    clip-path: polygon(0 32%, 100% 31%, 100% 100%, 0% 100%);
    cursor: pointer;
}

.lottie1:hover{
    display: block;
}

.third:hover + .lottie1{
    display: block;
    cursor: pointer;
    animation: profile 0.5s linear;
    /* border: 1px solid grey; */
}




.third{
    padding-right: 10px;
    cursor: pointer;

    
}


/* ----------------------header part eneded------------------- */


.main .one img{
    margin-top: 20px;
    width: 100%;
}

.main .buttons #circle1, #circle2, #circle3, #circle4 , #circle5, #circle6{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid grey;
    margin-left: 10px;
    cursor: pointer;

}

.slider{
    animation: profile 1s linear;
    transition: all 0.5s ease;
}

.size_of_image1,.size_of_image2,
.size_of_image3,.size_of_image4,.size_of_image5{
    animation: profile 1s linear;
    transition: all 0.5s ease;
}
.main .buttons{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
/* ----------------------------- */

.deals_of_the_day h1{
    margin-left: 25px;
    margin-top: 25px;
    letter-spacing: 2px;
}
.deals_of_the_day .images{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    
    
}
.deals_of_the_day .images img{
    width: 280px;
    height: 500px;
    margin: 20px;
    /* margin: auto; */
}
/* ----------------------- */



.biggest_deals_on_top_brands h1{
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}
.biggest_deals_on_top_brands .images{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.biggest_deals_on_top_brands .images img{
    margin: 5px;
    width: 310px;
    height: 500px;

}

/* --------------------------------- */

.categories_to_bag h1{
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.categories_to_bag .images{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.categories_to_bag .images img{
    margin: 5px;
    width: 250px;
    margin: 0px 12px 0px 12px;

}
/* -------------------------------- */
.explore_top_brands h1,.trending_in_western_wear h1,
.trending_in_indian_wear h1,.trending_in_sports_wear h1,
.trending_in_footwear h1,.trending_in_accessories h1{
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.explore_top_brands .images, .trending_in_western_wear .images,
.trending_in_indian_wear .images,.trending_in_sports_wear .images,
.trending_in_footwear .images, .trending_in_accessories .images{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.explore_top_brands .images img{
    width: 300px;
    margin: 0px 12px 0px 12px;
}
/* -------------------------------- */
.trending_in_western_wear .images img,
.trending_in_indian_wear .images img, 
.trending_in_sports_wear .images img,
.trending_in_footwear .images img,
.trending_in_accessories .images img{
    width: 300px;
    margin: 10px;
}

/* --------------------main ended----------------------- */
.bottom{
    background-color: rgba(192, 192, 192, 0.344);
    padding-bottom: 25px;
}
.footer{
    /* background-color: rgba(192, 192, 192, 0.344); */
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    font-size: 12px;
    color: grey;
}



.online_shopping ,.useful_links{
    list-style: none;
    line-height: 20px;
    margin: 25px;
}

.experience{
    margin: 25px;
    line-height: 20px;
}


.experience img{
    width: 120px;
}


.experience .keep_in_touch img{
    width: 20px;
    align-items: baseline;
    margin-top: 10px;
}

.brand{
    margin: 25px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    margin-top: 25px;
}

.brand .item img{
    width: 50px;
    height: 45px;
}

.again{
    margin-left: 15px;
}

/* =--------------------------- */

.h_line{
    width: 70%;
    height: 1px;
    padding: 0px 50px 0px 50px;
    background-color: rgba(15, 14, 14, 0.446);
    margin: auto;
}
.popular h2{
    margin-left: 255px;
    margin-top: 30px;
    margin-bottom: 25px;
}
.popular p{
    font-size: 12px;
    color: grey;
    letter-spacing: 2px;
    text-align: center;
    line-height: 25px;
}

.popular .rights{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    color: grey;
}


/* ------------------------------------- */


.container .fixed{
    width: 250px;
    height: 33px;
    padding-top: 10px;
    color: white;
    text-align: center;
    letter-spacing: 2px ;
   background-color: rgb(87, 100, 100);
   position: fixed;
   transform: rotate(270deg);
   right: -105px;
   bottom: 305px;
   word-spacing: 5px;
} 
